██╗    ██╗██╗   ██╗ █████╗ ██╗     
██║    ██║██║   ██║██╔══██╗██║     
██║ █╗ ██║██║   ██║███████║██║     (code by WUAL)
██║███╗██║██║   ██║██╔══██║██║     
╚███╔███╔╝╚██████╔╝██║  ██║███████╗
 ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝

--------------------------------------------------------------------------------------------
Before you can use the app you need to have the following apps, pips, or services installed
--------------------------------------------------------------------------------------------

MySQL Workbench or MySQL Service {

  https://downloads.mysql.com/archives/workbench
  
}

Pip installers {

  import random
  import pyperclip as clipboard
  import customtkinter
  import tkinter
  from PIL import Image
  import os
  from datetime import datetime
  import mysql.connector
  
}
